@import url('https://fonts.googleapis.com/css2?family=Lora&family=Varela+Round&display=swap');

* {
  background-color: black;
}

.container {
  font-family: 'Lora', serif;
  color: #2f6b39;
  font-size: 16px;
  background-color: #F7F7f7;
  display: grid;
  place-items: center;
}

.button {
  font-family: 'Varela Round', sans-serif;
  font-size: 48px;
  color: #a3c934;
  border-radius: 8px;
  border-style: none;
  background-color: #2f6b39;
}

.span {
  font-size: 32px;
  background-color: #F7F7f7;
}

.info {
  color: #a3c934;
  font-family: 'Varela Round', sans-serif;
  background-color: #F7F7f7;
}

.list {
  font-family: 'Lora', serif;
  color: #2f6b39;
  font-size: 16px;
  list-style: none;
  background-color: #F7F7f7;
}