@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&family=Varela+Round&display=swap');
* {
  background-color: rgb(21, 32, 43);
}

.container {
  font-family: 'Lora', serif;
  color: rgba(29, 161, 242, 1);
  font-size: 16px;
  /* background-color: #F7F7f7; */
  display: grid;
  place-items: center;
  width: 100%;
}

.button {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  color: whitesmoke;
  border-radius: 8px;
  border-style: none;
  outline: none;
  background-color: rgba(29, 161, 242, 1);
  margin-top: 16px;
  margin-bottom: 16px;
  width: 12%;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(29, 161, 242, 0.8);
}

.span {
  font-size: 32px;
  /* background-color: #F7F7f7; */
}

.info {
  font-family: 'Varela Round', sans-serif;
  color: whitesmoke;
}

.mainList {
  background-color: rgb(32, 46, 58);
  border-radius: 16px;
}

.list {
  font-family: 'Varela Round', sans-serif;
  color: whitesmoke;
  font-size: 16px;
  list-style: circle;
  background-color: rgb(32, 46, 58);
  border-radius: 16px;
  width: initial;
}

.list:hover {
  color: rgba(29, 161, 242, 1);
  cursor: pointer;
  background-color: rgb(23, 45, 64);
  border-radius: 8px;
  width: initial;
}
